{% extends "base.html" %}
{% block title %} Login {% endblock %} 
{% block content %}
    <h1>Log In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {{ form.id(size=32) }}<br>
            {% for error in form.id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
          </p>
           
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            <td>Role</td>
            <select name="posts" class="form-control">
                <option value="directeur">directeur</option>
                <option value="secrétaire">secrétaire</option>
                <option value="vétérinaire">vétérinaire</option>
                <option value="soigneur animalier">soigneur animalier</option>
                <option value="chef animalier">chef animalier</option>
            </select>

        </p>
            
     
      
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}